{
	"root": true,

	"env": {
		"browser": false,
		"es6": true,
		"node": true
	},

	"parserOptions": {
		"ecmaVersion": 6,
		"sourceType": "module"
	},

	"extends": ["eslint:recommended"],

	"rules": {
		"eqeqeq": [2, "always"],
		"func-style": [2, "declaration"],
		"max-nested-callbacks": 1,
		"no-restricted-syntax": 2,
		"no-var": 2,
		"prefer-const": 2
	},

	"overrides": [
		{
			"files": "test/**",
			"rules": {
				"camelcase": 0
			}
		}
	]
}
